<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %> </title>
	<link rel="stylesheet" href="<%= server_url %>bootstrap.min.css ">
	<link rel="stylesheet" href="<%= server_url %>font-awesome.min.css ">
	<link rel="stylesheet" href="<%= server_url %>style.css ">
</head>
<body>
	<ul
		class="
			nav
			navbar
			justify-content-center
		"
	>
		<li class="nav-item">
			<a href="<%= server_url %> " class="nav-link">Home</a>
		</li>
		<li class="nav-item">
			<a href="<%= server_url %>products " class="nav-link">Product List</a>
		</li>
		<% if(isAdmin){%>
		
		<li class="nav-item">
			
			<a href="<%= server_url %>products/create " class="nav-link">Create Product</a>
		</li>
		 
		<% }%>

		<li class="nav-item">
			<a href="<%= server_url %>complaint " class="nav-link">Complaint</a>
		</li>
		<li class="nav-item">
			<a href="<%= server_url %>about " class="nav-link">About Us</a>
		</li>
	</ul>
</body>
</html>
