<!DOCTYPE html>
<html lang="en">
	<!-- include head -->
	<%- include('../includes/head1.ejs') %>
	<body>
		<!-- include body -->
		<%- include('../includes/navbar.ejs')
		%>

		<div
			class="
				container
				justify-content-center
			"
		>
			<h1
				class="
					text-center
					bg-primary
					text-light
				"
			>
				Edit Product
			</h1>

			<p class = "text-center">
				Make changes to products Here
			</p>
		</div>

		<form
			action="<%= server_url %>products/edit?_method=PATCH"
			method="POST"
			class="
				container
				justify-content-center
			"
		>
		<input type="hidden" name="productId" value = <%= product._id %> />
			<div class="form-row">
				<div class="col-md-9 form-group">
					<input
						type="text"
						name="title"
						id="title"
						value = <%= product.title %> 
						class="form-control"
						placeholder="Enter the type the Product"
					/>
				</div>
				<div
					class="col-md-3 form-group"
				>
					<input
						type="text"
						name="serial"
						id="serial"
						value = <%= product.serial %> 
						class="form-control"
						placeholder="product serial NO."
					/>
				</div>
				<div
					class="col-sm-4 form-group"
				>
					<input
						type="text"
						name="category"
						id="category"
						value = <%= product.category %> 
						class="form-control"
						placeholder="Enter product category"
					/>
				</div>
				<div
					class="col-sm-4 form-group"
				>
					<input
						type="number"
						name="qty"
						id="qty"
						value = <%= product.qty %> 
						class="form-control"
						placeholder="Enter quantity"
					/>
				</div>
				<div
					class="col-sm-4 form-group"
				>
					<input
						type="number"
						name="amt"
						id="amt"
						value = <%= product.amt %> 
						class="form-control"
						placeholder="Enter Amount"
					/>
				</div>
			</div>
			<div class="form-group">
				<input
					type="file"
					name="file"
					id="file"
					class="form-control"
				/>
			</div>
            <div class = "form-group">
                <textarea
                    name="description"
                    id="description"
                    cols="30"
                    rows="10"
                    class="form-control"
                    placeholder = "Enter description of the Item"
                ><%= product.description %> </textarea>
            </div>
            <div class="justify-content-center d-flex">
				<input type="submit" value="Submit" class="btn btn-outline-success">
                <!-- <submit class="btn btn-outline-success ">Submit</submit> -->
            </div>
		</form>
	</body>
</html>
